<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <title>RBBCar 控制</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script> 
     <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
       <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
       
     <style>
       #MainDiv button {
           margin:3px;
       }
     </style>
     <script> 
		var YourLiffAppId = '1654118646-GK30qepb'	      
        $(document).ready(function (){	
			//初始 LIFF SDK
          initializeLiff(YourLiffAppId); 
          context = liff.getContext();	          
			$('#Button_w').click(function (){ // 查詢用戶報到資料					
				//alert("前進")
				var data={"ctrl":"w"};
				$.ajax({
                 type: 'POST',
                 url:"/",
                 data:JSON.stringify(data),  //轉化字串 
                 contentType: 'application/json; charset=UTF-8',
                 success:function(data){ //成功的話，得到訊息
                    console.log(data);
                }
            });
                   
         });
         $('#Button_a').click(function (){ // 查詢用戶報到資料					
			//alert("左轉")
			var data={"ctrl":"a"};
			$.ajax({
             type: 'POST',
             url:"/",
             data:JSON.stringify(data),  //轉化字串 
             contentType: 'application/json; charset=UTF-8',
             success:function(data){ //成功的話，得到訊息
               console.log(data);
             }
            });
         });
         $('#Button_d').click(function (){ // 查詢用戶報到資料					
			//alert("右轉")
			var data={"ctrl":"d"};
			$.ajax({
             type: 'POST',
             url:"/",
             data:JSON.stringify(data),  //轉化字串 
             contentType: 'application/json; charset=UTF-8',
             success:function(data){ //成功的話，得到訊息
              console.log(data);
             }
           });
                   
         });
         $('#Button_x').click(function (){ // 查詢用戶報到資料					
			//alert("後退")
			var data={"ctrl":"x"};
			$.ajax({
             type: 'POST',
             url:"/",
             data:JSON.stringify(data),  //轉化字串 
             contentType: 'application/json; charset=UTF-8',
             success:function(data){ //成功的話，得到訊息
              console.log(data);
             }
           });                   
         });
         $('#Button_s').click(function (){ // 查詢用戶報到資料					
			//alert("停止")
			var data={"ctrl":"s"};
			$.ajax({
             type: 'POST',
             url:"/",
             data:JSON.stringify(data),  //轉化字串 
             contentType: 'application/json; charset=UTF-8',
             success:function(data){ //成功的話，得到訊息
              console.log(data);
             }
           });
                   
         });
        });		                
       
        function initializeLiff(myLiffId){
            liff
                .init({
                    liffId: myLiffId
                })
                .then(() => {                   
                    initializeApp(); //取得LIFF各種物件及屬性
                })
                .catch((err) => {
                    alert(JSON.stringify(err));
                });
        }
        
        function initializeApp(){
			if (!liff.isLoggedIn()) { // 如果Line用戶沒有登入，就必須事先登入
              	liff.login();
            } 				 
        }    
		 
	 </script> 
		
    </head> 
	<body>
		<div class="row">		
          <div id="MainDiv" class="col-md-6" style="margin:5px">
			  <h3>攝影機視框</h3>
			    <iframe src="" name="iframe_a" width="90%" height="100px" title="Show Cam"></iframe> 
			    <p><a href="https://www.w3schools.com" target="iframe_a" >W3Schools.com</a></p>
       
              <div id="RBBCar_control">				
                <button id="Button_w">前進</button>	 			
                <button id="Button_a">左轉</button>		 			
                <button id="Button_d">右轉</button>			 			
                <button id="Button_x">後退</button>			 			
                <button id="Button_s">停止</button>				  
			  </div>			            
		  </div>
        </div>		
	</body>
	
</html>
