<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">
    <title>註冊列印裝置</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script> 
     <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
       <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script> 
     <style>
       #MainDiv button {
           margin:3px;
       }
     </style>
     <script> 
		 //你的liff app ID, 例如 --> 0000000000-spPeRmAn
        var YourLiffAppId = '1654118646-qDxmMVz6';
		var firebaseConfig = {
			apiKey: "AIzaSyAG501H9o5I_q-2lLKei5aDUBsJQrigxmQ",
			authDomain: "line-bot-test-77a80.firebaseapp.com",
			databaseURL: "https://line-bot-test-77a80.firebaseio.com"					
        };
        firebase.initializeApp(firebaseConfig);        
        var db = firebase.database();
        $(document).ready(function (){			
		  //初始 LIFF SDK
            initializeLiff(YourLiffAppId);
            context = liff.getContext();
			//userid = context.userId;
			//$('input[name="userid"]').val(userid)
			//console.log(userid)
			result=[];	
			var RBBCarName = $("#RBBCar_id").val(); 
			if (RBBCarName !=' ') processFormData()		
		});
		function dataDisplay(result){						                
           var hostname = result['hostname']					   
		   var ap = result['ap']
		   var queuename = result['device_num']
		   var ngrok_url = result['ngrok_url']	  		  						    						    
		    $("#tbody").append( //新增表格資料
		     "<tr><td>" + hostname + "</td>" +
		      "<td>" + ap + "</td>" +
		      "<td>" + queuename + "</td>" +
		      "<td><a href=http://" + ngrok_url+ ">連結</a></td></tr>" 
		    )		          
         } 
		 function processFormData(){
		 var RBBCarName = $("#RBBCar_id").val(); 		 
		 var db_ref_path = "/RBBCar_server/"+RBBCarName; // firebase 資料庫基本路徑  
         $("#tbody").empty();  
		 $("#thead").empty()				
		 $("#tbody").empty();		   
		 db.ref(db_ref_path).on("value", function(snapshot){	
		   if (snapshot.val()){	
		    $("#thead").append( //新增表格資料
			  "<tr><th>主機名稱</th><th>連線 AP</th><th>裝置代號</th><th> CAM 網址</th></tr>" 
            )  			  													   
            count = 0;	                  			
            snapshot.forEach(function(item){ 
			 console.log(item.val()) 			  					
			 result[item.key]=item.val();
			 count=count+1;							                    
            })                    
            dataDisplay(result);                                                                 
           }
          else {
			alert("資料庫不存在")
		  }
		 });	               
        }
		
		function initializeLiff(myLiffId){
            liff
                .init({
                    liffId: myLiffId
                })
                .then(() => {                   
                    initializeApp(); //取得LIFF各種物件及屬性
                })
                .catch((err) => {
                    alert(JSON.stringify(err));
                });
        }
        
        function initializeApp(){
			if (!liff.isLoggedIn()) { // 如果Line用戶沒有登入，就必須事先登入
              	liff.login();
            } 				 
         }     
		 
	 </script> 
		
    </head> 
	<body>
		<div class="row">
			<form method='post' enctype='multipart/form-data' action="/register">
		       <input id = "deviceid" type='text' name='deviceid' placeholder="輸入裝置名稱"/>
		       <input id = "useid" type='text' name='userid' hidden/>
		       <input type='submit' value='RBBCar 註冊'/>
		      </form>
		       <h3>{{data[0]}}</h3>		
		      <div id="RBBCar_query">
				<input id="RBBCar_id" type='text' size="10" name='RBBCar_id' hidden value={{data[1]}}  />               				  
			  </div>
			  <p></p>                       
             <table id="mainTable" class="display hover" border="1">	    
              <thead id="thead" align="center">               
              </thead> 
              <tbody id="tbody" align="center">		 
              </tbody> 	     
		    </div>		 
	</body>
	
</html>
